body {
  padding-top: 70px;
  padding-bottom: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.user-link,
a.user-link:visited,
a.user-link:link {
	color: #6f9024;
	text-decoration: none;
}

a.user-link:active,
a.user-link:hover {
	color: #50671a;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a.user-admin,
a.user-admin:visited,
a.user-admin:link {
	color: #c73000;
	font-weight: bold;
}

a.user-admin:active,
a.user-admin:hover {
	color: #942400;
	font-weight: bold
}

a.user-moderators,
a.user-moderators:visited,
a.user-moderators:link {
	color: #7c4ece;
	font-weight: bold;
}

a.user-moderators:active,
a.user-moderators:hover {
	color: #6233b6;
	font-weight: bold
}

a.user-supermoderators,
a.user-supermoderators:visited,
a.user-supermoderators:link {
	color: #262626;
	font-weight: bold;
}

a.user-supermoderators:active,
a.user-supermoderators:hover {
	color: #000000;
	font-weight: bold
}

a.user-wind-powered,
a.user-wind-powered:visited,
a.user-wind-powered:link {
	font-weight: bold;
}

a.user-wind-powered:active,
a.user-wind-powered:hover {
	font-weight: bold
}

a.user-wind-reseller,
a.user-wind-reseller:visited,
a.user-wind-reseller:link {
	color: #b6a433;
	font-weight: bold;
}

a.user-wind-reseller:active,
a.user-wind-reseller:hover {
	color: #8e8028;
	font-weight: bold
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.vcenter {
	margin-top: 3px;
}

.btn-primary {
    border-color: #abd462;
    background: #abd462;
    background: -webkit-gradient(linear, left top, left bottom, from(#abd462), to(#a0ce4e));
    background: -moz-linear-gradient(top, #abd462, #a0ce4e);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#abd462', endColorstr='#a0ce4e');
}

.btn-primary:hover {
    border-color: #87b633;
    background: #87b633;
    background: -webkit-gradient(linear, left top, left bottom, from(#87b633), to(#78a32d));
    background: -moz-linear-gradient(top, #87b633, #78a32d);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#87b633', endColorstr='#78a32d');
}

.day-separator {
	list-style-type: none;
	border-top: 1px solid #e8e8e8;
	color: #bdc1c9;
	font-size: 11px;
	margin: 17px 20px 2px;
	text-align: center;
}

.day-separator span {
	background-color: #fff;
	padding: 0 5px;
	position: relative;
	top: -8px;
}

.message-box {
	display: block;
	width: 100%;
	word-wrap: break-word;
	margin-bottom: 15px;
}

.navbar-brand img.img-responsive {
	max-height: 40px !important;
}

.message-box:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.user-avatar {
	border: 3px solid transparent;
	height: 100%;
	width: 100%;
	max-width: 50px;
	max-height: 50px;
	overflow: hidden;
	margin: 0 auto;

	transition: background-color 300ms ease-in-out;
	transition: border-color 300ms ease-in-out;
}

.user-avatar:hover {
	border-color: #a0ce4e;
}

.user-avatar img {
	max-width: 100%;
}

.message {
	padding-left: 0px;
}

.message h5 {
	margin: 1px 0 4px 0;
}

.message abbr {
	font-size: 10px;
}

/** SOLUTION: in custom CSS **/
/* make sure navbar-form's input-group goes 100% i.e. full width of screen
   to compliment the display: inline-table; that showed up in 3.2.0 */
.navbar-form .input-group {
	width: 100%;
}
/* override width: auto; that showed up in 3.2.0
   with at least 1px for the addon or btn (I had an addon) */
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn {
	width: 1px;
}
/* separate .form-control and give it width: 100%; */
.navbar-form .input-group .form-control {
    width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(111, 144, 36, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(111, 144, 36, 0.6);
	outline: 0 none;
}

.dropdown-menu {
    z-index: 9999;
}

@media screen and ( max-height: 300px ){
	body {
		padding-top: 0px;
		font-size: 12px;
	}
	.navbar-fixed-top {
		display: none;
	}
	p {
		font-size: 12px;
		margin: 0px 0px 3px;
	}
	h5 {
		font-size: 12px;
	}
	.message-box {
		margin-bottom: 10px;
	}
	.user-avatar {
		max-width: 36px;
		max-height: 36px;
	}
	.message abbr {
		font-size: 9px;
	}
}
